.lekhakBooklist {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}

@media (max-width: 800px) {
  .lekhakBooklist {
    padding-top: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .lekhakBooklist h1 {
    padding-left: 1.5rem;
    
  }
  .author_img {
    margin-bottom: -0.5rem;
    margin-left: 1.5rem;
  }
}