.loader {
	margin: 5% auto 30px;
}

.book {
	border: 2px solid #337ab7;
	background-color: #eeeeee;
	width: 60px;
	height: 45px;
	position: relative;
	perspective: 150px;
}

.page {
	display: block;
	width: 30px;
	height: 45px;
	border: 2px solid #337ab7;
	border-left: 1px solid #337ab7;
	margin: 0;
	position: absolute;
	right: -2px;
	top: -2px;
	overflow: hidden;
	background: #eeeeee;
	transform-style: preserve-3d;
	-webkit-transform-origin: left center;
	transform-origin: left center;
}

.book .page:nth-child(1) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s
		infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
}

.book .page:nth-child(2) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s
		infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
}

.book .page:nth-child(3) {
	-webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s
		infinite;
	animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}

/* Page turn */

@-webkit-keyframes pageTurn {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	20% {
		background: #eeeeee;
	}
	40% {
		background: #eeeeee;
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
	100% {
		background: #eeeeee;
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
	}
}

@keyframes pageTurn {
	0% {
		transform: rotateY(0deg);
	}
	20% {
		background: #eeeeee;
	}
	40% {
		background: #eeeeee;
		transform: rotateY(-180deg);
	}
	100% {
		background: #eeeeee;
		transform: rotateY(-180deg);
	}
}

/* Dots */

@-webkit-keyframes Dots {
	0% {
		content: "";
	}
	33% {
		content: ".";
	}
	66% {
		content: "..";
	}
	100% {
		content: "...";
	}
}

@keyframes Dots {
	0% {
		content: "";
	}
	33% {
		content: ".";
	}
	66% {
		content: "..";
	}
	100% {
		content: "...";
	}
}
