.card-container {
	width: 80%;
	height: 100%;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background: #fefefe;
	margin: 0.75rem 0.25rem;
	display: grid;
	text-align: left;
	grid-template-columns: 100px 2fr;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

.book-cover {
	width: 85px;
	height: 100px;
	align-items: center;
	object-fit: cover;
}

.book-title {
	font-size: 1.35rem;
	margin: 0.4rem 0.25rem;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}

.book-author {
	font-size: 1rem;
	margin: 0.2rem 0.25rem;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}

.book-category {
	font-size: 1rem;
	margin: 0.4rem 0.25rem;
	font-weight: 300;
	text-transform: capitalize;
}

.book-language {
	font-size: 1rem;
	margin: 0.4rem 0.25rem;
	margin-left: auto;
	font-weight: 300;
	text-transform: capitalize;
}
