.container {
	width: 100%;
	min-height: 100vh;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	text-align: center;
	user-select: none;
	z-index: 99;
}

@media only screen and (min-width: 320px) {
	.logo {
		margin: 3rem 0rem 0.5rem 0rem;
	}
	.top-listing-section {
		background-color: #337ab7;
		width: 100%;
		color: white;
		z-index: 99;
	}
}
@media only screen and (min-width: 768px) {
	.logo {
		margin: 2.5rem 0rem 1rem 0rem;
	}
	.top-listing-section {
		background-color:white;
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	.logo {
		margin: 2rem 0rem 2rem 0rem;
	}
}
@media only screen and (min-width: 1900px) {
	.logo {
		margin: 2rem 0rem 2rem 0rem;
	}
}

.logo #name {
	font-family: 'Noto Sans', sans-serif;
	font-size: 2em;
}

.logo #place {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 600;
}

@media only screen and (max-width: 700px) {
.top-section-listing {
	background-color:#337ab7;
	width: 100%;
	color: white;
}

}