.listing-container {
	width: 100%;
	min-height: 100vh;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	text-align: center;
	user-select: none;
	z-index: 99;
}



@media only screen and (min-width: 1024px) {
	.logo {
		margin: 2rem 0rem 2rem 0rem;
	}
}


.logo #name {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.8em;
	
}

.logo #place {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 600;
}

@media only screen and (max-width: 815px) {
	.logo {
		margin: 0rem;
		text-shadow: 1px 1px black;
	}
.top-section-listing {
	background-color:#337ab7;
	width: 100%;
	color: white;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

}