.container {
	width: 100vw;
	min-height: 100vh;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	text-align: center;
	user-select: none;
}

@media only screen and (min-width: 320px) {
	.logo {
		margin: 5rem 0rem 2rem 0rem;
	}
}
@media only screen and (min-width: 768px) {
	.logo {
		margin: 4rem 0rem 2rem 0rem;
	}
}
@media only screen and (min-width: 1024px) {
	.logo {
		margin: 2rem 0rem 2rem 0rem;
	}
}
@media only screen and (min-width: 1900px) {
	.logo {
		margin: 2rem 0rem 2rem 0rem;
	}
}

.logo #name {
	font-size: 1.75em;
	font-weight: 600;
}

.logo #place {
	font-size: 1.25em;
	font-weight: 600;
}
