.switch-container {
	display: flex;
	align-items: center;
	margin: 0.5rem 0.25rem;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 14px;
}

.tag {
	margin-left: 5px;
	font-size: 0.75rem;
	transition: 0.4s;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 34px;
	transition: 0.4s;
	background-color: #cccccc;
}

.slider::before {
	position: absolute;
	height: 10px;
	width: 10px;
	content: "";
	left: 2px;
	bottom: 2px;
	background-color: #ffffff;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:checked + .slider::before {
	transform: translateX(16px);
}
