.lekhakList {
  padding-left: 16.5rem;
  padding-right: 16.5rem;
}
.toggleBtn {
  display: flex;
  justify-content: center;
  padding: 45px 0px 0px 0px;
}
.unclickedBtn {
  background-color: white;
  margin: 10px;
  padding: 7px;
  color: black;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
}
.clickedBtn {
  background-color: #3596ca;
  margin: 10px;
  padding: 7px;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}

.alphabetsClicked {
  margin-left: 2px;
  margin-right: 2px;
  padding: 7px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #3596ca;
  border-radius: 5px;
  color: white;
  outline: none;
  border: 0.2px solid lightgray;
  cursor: pointer;
  text-transform: uppercase;
}
.alphabetsUnclicked {
  text-transform: uppercase;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
  padding: 7px;
  font-size: 15px;
  color: black;
  background-color: white;
  border: 0.2px solid lightgray;
  cursor: pointer;
}

.renderAuthors {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.renderAuthors:nth-child(even) {
  background-color: #f5efda;
}

.authorsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0px;
  border: 1px solid #e5e6e6;
}

.authorName {
  padding: 5px;
  font-size: 1.2em;
  margin-left: 1%;
  text-transform: capitalize;
}

.bookNames {
  display: flex;
  align-items: center;
  margin-right: 2%;
  cursor: pointer;
  color: blue;
}

.bookNames p {
  text-decoration: none;
}

@media (max-width: 800px) {
  .toggleBtn {
    padding: 20px 0px 0px 0px;
  }

  .lekhakList {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ButtonContainer {
    display: contents;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
  }

  .ButtonContainer button {
    margin-left: 2px;
    width: 54px;
    margin-right: 2px;
    margin-top: 6px;
    padding: 7px;
    border-radius: 10px;
  }

  .renderAuthors {
    width: 100%;
    margin: auto;
  }

  .authorsList {
    margin-bottom: 55px;
  }
}
