.toggleBtn{
    display: flex;
    justify-content: center;
    padding: 45px 0px 0px 0px;
}
.marBtn{
    background-color: white;
    margin: 10px;
    padding: 7px;
    color: black;
    border-radius: 5px;
}
.marBtn:focus{
    background-color: darkgray;
}
.engBtn{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 7px;   
    border-radius: 5px;
}
.engBtn:focus{
    background-color: darkgray;
}
.ButtonContainer {
    display : flex;
    justify-content : center;
    padding-left: 50px;
    padding-right : 50px;
    padding-top: 50px;
}

.ButtonContainer button {
    margin-left: 2px;
    margin-right: 2px;
    padding: 6px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cadetblue;
    border-radius: 5px;
    color: white;
}
.ButtonContainer button:focus{
    color: black;
    background-color: darkgray;
} 
.renderAuthors{
    display: flex;
    margin: auto;
}


@media (max-width: 800px) {
    .ButtonContainer {
        display : flow-root;
        justify-content : center;
        padding-left: 10px;
        padding-right : 10px;
        padding-top: 50px;
    }
    
    .ButtonContainer button {
        margin-left: 2px;
        width: 66px;
        margin-right: 2px;
        margin-top: 6px;
        padding: 10px;
        border-radius: 10px;
    }
    
    .renderAuthors{
        width: 18rem;
        margin: auto;
    }
}

 
