.mobileNav{
    display: none;
}

@media (max-width: 576px) {
    .mobileNav{
        width: 100vw;
        bottom: 0;
        position: fixed !important;
        display: flex;
        padding: 5px 0px 5px 0px;
        background-color: white;
        justify-content: space-around;
        border-top: 1px solid lightgray;
        align-items: center;
        z-index: 40;
        overflow: hidden;
    }
    .mobileNav_clicked{
        padding: 5px 8px;
        border-radius: 5px;
        filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(168deg) brightness(102%) contrast(105%);
        fill: black;
    }
    .mobileNav_unclicked{
        padding: 5px 8px;
        border-radius: 5px;
        filter: invert(100%) sepia(0%) saturate(2016%) hue-rotate(181deg) brightness(86%) contrast(90%); 
        
    }
    .searchSvg{
        width: 1.5rem;
        height: auto;
    }
    .lekhakSvg{
        width: 2rem;
        height: auto;
    }
}