.details_container{
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 50px;
}

.back_btn{
    width: 130px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: #007b5e;
    color: white;
    text-decoration: none;
}

.details_image{
    margin-top: 30px;
    width: 350px;
    justify-content: center;    
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    float: left;
}

.book_image{
    width: 330px;
    height: 420px;
}

.book_details{
    margin-top: 50px;
    float: center;
}

.rows{
    padding: 15px;
    display: flex;
}

.label{
    padding: 10px;
    background-color: #333;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    width: 120px;
}

.book_name{
    margin-left: 20px;
    font-weight: 30;
    font-size: 25px;
}

.author{
    margin-left: 20px;
    font-weight: 30;
    font-size: 25px;
}

.year_of_release{
    margin-left: 20px;
    font-weight: 30;
    font-size: 25px;
}

.publication{
    margin-left: 20px;
    font-weight: 30;
    font-size: 25px;
}