.aboutUs-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
}

.aboutUs-content {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 80%;
  /* background-color: blue; */
}

.aboutUs-page-authors {
  flex: 20%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-gap: 9.7vw;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 550px) {
  .aboutUs-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8vh;
  }

  .aboutUs-page-authors {
    gap: 50px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.aboutUs-page-authors > img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.aboutUs-wordArt {
  flex: 80%;
  margin-top: 50px;
  height: 50%;
  width: 100%;
}

.aboutUs-wordArt > img {
  height: 120%;
  width: 100%;
}
