table,
th,
td {
	border: 1px solid #cccccc;
	padding: 10px;
}

td {
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1rem;
}

th {
	text-transform: capitalize;
	text-align: start;
}

table {
	min-width: 800px;
	border-collapse: collapse;
	table-layout: fixed;
}

.table-super {
	min-width: 320px;
	margin-top: 25px;
	place-items: center;
	overflow: auto;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media only screen and (min-width: 320px) {
	.table-super {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.table-super {
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	.table-super {
		width: 75%;
	}
}
@media only screen and (min-width: 1900px) {
	.table-super {
		width: 60%;
	}
}

.card-container {
	height: 100%;
	display: grid;
	text-align: left;
	grid-template-columns: 100px 2fr;
}

@media only screen and (min-width: 320px) {
	.card-container {
		width: 85vw;
	}
}
@media only screen and (min-width: 768px) {
	.card-container {
		width: 70vw;
	}
}
@media only screen and (min-width: 1024px) {
	.card-container {
		width: 55vw;
	}
}
@media only screen and (min-width: 1900px) {
	.card-container {
		width: 60vw;
	}
}

a,
a:hover,
a:focus,
a:active {
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.book-cover {
	width: 84px;
	height: 120px;
	align-items: center;
	object-fit: cover;
}

.book-title {
	font-size: 1.35rem;
	margin: 0.4rem 0.25rem;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}

.book-author {
	font-size: 1rem;
	margin: 0.2rem 0.25rem;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}

.book-category {
	font-size: 1rem;
	margin: 0.4rem 0.25rem;
	font-weight: 300;
	text-transform: capitalize;
}

.book-language {
	font-size: 1rem;
	margin: 0.4rem 0.25rem;
	margin-left: auto;
	font-weight: 300;
	text-transform: capitalize;
}

.genre-container {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px 0px;
}

.no-book-error {
	margin: 5rem 0rem;
}

.explore {
	font-size: 1.5rem;
	margin-top: 25px;
}

.genre-card {
	margin: 1rem 1.25rem;
	text-align: center;
	cursor: pointer;
}

.genre-image {
	margin: 0;
	padding: 0;
}

.genre-title {
	width: 80px;
	margin: 0 auto;
	padding: 0;
	margin-top: 0.35rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
