@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');

table,
th,
td {
	border: 1px solid #cccccc;
	padding: 10px;
}

td {
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1rem;
}

th {
	text-transform: capitalize;
	text-align: start;
}

table {
	min-width: 800px;
	border-collapse: collapse;
	table-layout: fixed;
}

.table-super {
	min-width: 320px;
	margin-bottom: 25px;
	place-items: center;
	overflow: auto;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

@media only screen and (min-width: 320px) {
	.table-super {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.table-super {
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	.table-super {
		width: 75%;
	}
}
@media only screen and (min-width: 1900px) {
	.table-super {
		width: 70%;
	}
}

.card-container {
	height: 100%;
	display: flex;
	text-align: left;
	cursor: pointer;
}

@media only screen and (min-width: 320px) {
	.card-container {
		width: 85vw;
	}
}
@media only screen and (min-width: 768px) {
	.card-container {
		width: 70vw;
	}
}
@media only screen and (min-width: 1024px) {
	.card-container {
		width: 55vw;
	}
}
@media only screen and (min-width: 1900px) {
	.card-container {
		width: 60vw;
	}
}

a,
a:hover,
a:focus,
a:active {
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.book-cover {
	width: 84px;
	height: 120px;
	align-items: center;
	object-fit: cover;
}

.book-title {
	font-size: 1.4rem;
	font-family: 'Eczar', serif;
	font-weight: 600;
	line-height: 1.2;
	display: block;
	text-transform: capitalize;
}

.book-author {
	font-size: 1.3rem;
	font-family: 'Vesper Libre', serif;

	display: block;
	text-transform: capitalize;
}

.book-category {
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
}

.book-language {
	font-size: 1rem;
	margin-left: auto;
	font-weight: 300;
	text-transform: capitalize;
}



.no-book-error {
	margin: 2rem;
}

.explore, .search-info {
	font-size: 1.25rem;
	margin-top: 5px;
	margin-bottom: 20px;
	text-decoration: solid;
	text-emphasis: inherit;
}

.search-info {
	font-size: 1rem;
}

.genre-container {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;

}

.genre-card {
	text-align: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin: 10px;
	height: 182px;
	width: 140px;
	margin-bottom: 30px;
	justify-content: space-around;
	align-items: center;
}

.genre-card .image-div {
	height: 182px;
	width: 140px;
}
.genre-image {
	height: 100%;
	width: 100%;
	box-shadow: 1px 2px 2px 2px #ccc;
	animation: shimmer 10s infinite;
	background: linear-gradient(
		to right,
		#f6f7f8 0%,
		#e9ebee 30%,
		#f6f7f8 60%,
		#f6f7f8 100%
	);

}



.genre-title {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 4px;
}
