
.flex-container{
    padding-top: 30px;
    display: flex;
    padding-left: 180px;
}

.whatsappShare{
    display: none;
}


.back_btn {
	width: 130px;
	height: 45px;
	padding: 10px;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 300;
	background-color: #007b5e;
	color: white;
	text-decoration: none;
	margin-left: 80px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.cardDetails{
    width: 420px;
    height: auto;
    transition: 0.2s;   
    display: flex;
    margin: auto;
}

.eachgoogleDetails {
	font-weight: 400;
	font-size: 25px;
}


.book_details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: initial;
    flex: 70%   ;
    padding-top: 22px;
}

.rows{
    /* padding-left: 15px; */
    padding-top: 5px;
    padding-bottom: 35px;
    /* padding-right: 15px; */
    display: flex;
}

.col1{
    width: 50%;
}

.col2{
    width: 50%;
    padding-left: 25%;
}

.label{
    padding: 5px;
    color: lightslategray;
    font-weight: 350;
}

.book_name{
    padding: 5px;
    font-weight: 350;
    font-size: 1.2em;
    text-transform: capitalize !important;
    
}

    .googleResult{
        font-size: 0.8em;
        padding: 5px;
        color: black;
        font-weight: 300;
        line-height: 20px;
    }

.eachgoogleDetails{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    color: purple;
}

.source {
	font-size: 10px;
	padding: 10px 10px 0px 10px;
	color: gray;
}

@media (max-width: 576px) {

  
    .flex-container {
      flex-direction: column;
      padding-left: 0px;
      align-items: center;  
      padding-top: 40px;
      margin-bottom: 44px;
      padding-left: 0px;


    }

    .book_img{
        display: flex;
        justify-content: center;
    }

    .book_img_class{
        width: 40%;
    }

    .whatsappShare{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        box-shadow: 0.5px 0.5px 8px black;
        width: 40px;
        height: 35px;
        border-radius: 30px;
        bottom: 14vh;
        right: 2.5vh;
        outline: none;
    }
    
    .whatsappShare:active ,.whatsappShare:any-link, .whatsappShare:focus, .whatsappShare:focus-visible {
        outline: none;
        border:none;
    }
    

    .cardDetails{
        display: flex;
        margin: 0 !important;
        flex-direction: column;
        width: 320px;
    }

    .back_btn{
        width: 130px;
        height: 45px;
        padding: 10px;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
    .rows{
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .col1{
        width: 50%;
    }
    
    .col2{
        width: 50%;
        padding-left: 2%;
    }

    .label{
        padding: 5px !important;
        font-size: 12px;
    }

    .book_name{
        font-weight: 400;
        font-size: 15px;
    }
    
    .eachgoogleDetails{
        font-weight: 300;
        font-size: 15px;
        width: 100%;
    }
    
    .googleResult{
        font-size: 12px;
        padding: 5px;
        line-height: 16px;
        color: black;
    }
  }
